@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button {
    background-color: rgb(99, 91, 255);
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
}

.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.listing li {
    border: 1px solid hwb(208 5% 21%);
    background-color: hwb(208 5% 21%);
    border-radius: 5px;
    display: flex;
    width: 350px;
    flex-direction: column;
}


.listing .body {
    padding: 10px;
    background-color: black;
}

#header {
    position: fixed;
}

#content {
    margin-top: 100px;
}